@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 241 49.56% 96.95%;
    --foreground: 240 20% 7.84%;
    --muted: 211 30% 91%;
    --muted-foreground: 211 0% 33%;
    --popover: 241 55% 98%;
    --popover-foreground: 241 58% 4%;
    --card: 241 55% 98%;
    --card-foreground: 241 58% 4%;
    --border: 241 2% 88%;
    --input: 241 2% 88%;
    --primary: 241 36% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240.8 65.22% 77.45%;
    --secondary-foreground: 0 0% 0%;
    --accent: 167.77 51.24% 60.59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 70.95% 64.9%;
    --destructive-foreground: 0 0% 100%;
    --ring: 241 36% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 241 18.44% 7.79%;
    --foreground: 240 50% 96.86%;
    --muted: 211 30% 9%;
    --muted-foreground: 211 0% 67%;
    --popover: 241 30% 3%;
    --popover-foreground: 241 39% 100%;
    --card: 241 30% 3%;
    --card-foreground: 241 39% 100%;
    --border: 241 2% 13%;
    --input: 241 2% 13%;
    --primary: 241 36% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240.72 65.77% 77.53%;
    --secondary-foreground: 0 0% 0%;
    --accent: 167.55 51.22% 60.58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 70.45% 64.85%;
    --destructive-foreground: 0 0% 0%;
    --ring: 241 36% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
    text-rendering: optimizeLegibility;
  }

  .ProseMirror {
    width: 100%;

    > * + * {
      margin-top: 0.75em;
    }

    &:focus {
      outline: none;
    }

    p {
      margin-top: 0.65em;
      margin-bottom: 0.65em;
    }

    ul,
    ol {
      padding: 0 1rem;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
  
    ul p,
    ol p {
      margin-top: 0;
      margin-bottom: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
    }
  }
}