@import "tailwindcss";

@plugin "tailwindcss-animate";

@source "../../../../packages/ui";

@import "./theme.css";
@import "./warcraft.css";
@import "./prose.css";
@import "./wowhead.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  :root {
    --background: 60 5% 90%;
    --foreground: 240 20% 7.84%;
    --muted: 211 30% 91%;
    --muted-foreground: 211 0% 33%;
    --popover: 241 55% 98%;
    --popover-foreground: 241 58% 4%;
    --card: 241 55% 98%;
    --card-foreground: 241 58% 4%;
    --border: 241 2% 88%;
    --input: 241 2% 88%;
    --primary: 241 36% 55%;
    --primary: oklch(0.8614 0.1407 87.1);
    --primary-foreground: 0 0% 0%;
    --secondary: oklch(0.54 0.1267 282.04);
    --secondary-foreground: 0 0% 0%;
    --accent: 167.77 51.24% 60.59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 70.95% 64.9%;
    --destructive-foreground: 0 0% 100%;
    --ring: 241 36% 55%;
    --radius: 0.5rem;
  }

  [data-theme="dark"] {
    --background: 240 8% 5%;
    --foreground: 0 0% 100%;
    --muted: 240, 8%, 9%;
    --muted-foreground: 211 0% 67%;
    --popover: 241 30% 3%;
    --popover-foreground: 241 39% 100%;
    --card: 0 0% 7%;
    --card-foreground: 250 45% 86%;
    --border: 241 2% 13%;
    --input: 241 2% 13%;
    --primary: oklch(89.46% 0.1051 82.17);
    --primary-foreground: 240 13% 9%;
    --secondary: oklch(0.54 0.1267 282.04);
    --secondary-foreground: 0 0% 0%;
    --accent: 167.55 51.22% 60.58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 70.45% 64.85%;
    --destructive-foreground: 0 0% 0%;
    --ring: 241 36% 55%;
  }
}

@utility container {
  max-width: 68rem;
  margin-inline: auto;
  padding-inline: calc(var(--spacing) * 8);
}

@utility section {
  padding-block: calc(var(--spacing) * 8);

  @media (width >= theme(--breakpoint-md)) {
    padding-block: calc(var(--spacing) * 12);
  }
}

@utility stack {
  display: grid;
  place-content: center;

  > * {
    grid-area: 1 / 1;
  }
}

@utility hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility hero-gradient {
  position: absolute;
  inset: 0;
  @apply bg-background/40;
  background-image: linear-gradient(
    to bottom,
    --theme(--color-background / 0),
    hsl(var(--background))
  );
}

@utility slide-enter {
  @media (prefers-reduced-motion: no-preference) {
    --enter-stage: 0;
    --enter-stop: 90ms;
    --enter-initial: 0ms;
    --tw-enter-opacity: 0;
    --tw-enter-translate-y: 10px;
    animation: enter 1s both 1;
    animation-delay: calc(
      var(--enter-initial) + var(--enter-stage) * var(--enter-stop)
    );
  }
}

@utility slide-enter-content {
  @media (prefers-reduced-motion: no-preference) {
    & > * {
      --enter-stage: 0;
      --enter-stop: 90ms;
      --enter-initial: 0ms;
      --tw-enter-opacity: 0;
      --tw-enter-translate-y: 10px;
      animation: enter 1s both 1;
      animation-delay: calc(
        var(--enter-initial) + var(--enter-stage) * var(--enter-stop)
      );
    }

    & > *:nth-child(1) {
      --enter-stage: 1 !important;
    }
    & > *:nth-child(2) {
      --enter-stage: 2 !important;
    }
    & > *:nth-child(3) {
      --enter-stage: 3 !important;
    }
    & > *:nth-child(4) {
      --enter-stage: 4 !important;
    }
    & > *:nth-child(5) {
      --enter-stage: 5 !important;
    }
    & > *:nth-child(6) {
      --enter-stage: 6 !important;
    }
    & > *:nth-child(7) {
      --enter-stage: 7 !important;
    }
    & > *:nth-child(8) {
      --enter-stage: 8 !important;
    }
    & > *:nth-child(9) {
      --enter-stage: 9 !important;
    }
    & > *:nth-child(10) {
      --enter-stage: 10 !important;
    }
    & > *:nth-child(11) {
      --enter-stage: 11 !important;
    }
    & > *:nth-child(12) {
      --enter-stage: 12 !important;
    }
    & > *:nth-child(13) {
      --enter-stage: 13 !important;
    }
    & > *:nth-child(14) {
      --enter-stage: 14 !important;
    }
    & > *:nth-child(15) {
      --enter-stage: 15 !important;
    }
    & > *:nth-child(16) {
      --enter-stage: 16 !important;
    }
    & > *:nth-child(17) {
      --enter-stage: 17 !important;
    }
    & > *:nth-child(18) {
      --enter-stage: 18 !important;
    }
    & > *:nth-child(19) {
      --enter-stage: 19 !important;
    }
    & > *:nth-child(20) {
      --enter-stage: 20 !important;
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-gutter: stable;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text-foreground);
    min-height: 100vh;
  }

  ::selection {
    background: var(--color-primary);
    color: var(--color-gray-700);
  }
}
