@custom-variant prose-enabled (&:not(:where([class~="not-prose"], [class~="not-prose"] *)));

@layer components {
  .prose {
    color: #e0def4;
    line-height: calc(var(--spacing) * 7);

    a {
      @variant prose-enabled {
        display: inline-block;
        position: relative;
        white-space: nowrap;
        text-decoration-line: none;
        color: var(--color-primary);

        /* A border is used to prevent sub-pixel rendering issues seen when just using a 1px line. */
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 2px;
          height: 1px;
          border-bottom: 1px solid currentColor;
          width: 0;
          opacity: 0;
          transition: width 300ms ease-in-out, opacity 100ms linear;
        }

        &[data-wh-icon-added="true"]::after {
          left: 21px;
        }

        &:hover::after {
          width: 100%;
          opacity: 1;
        }

        &[data-wh-icon-added="true"]:hover::after {
          width: calc(100% - 21px);
        }
      }
    }

    h1 {
      @variant prose-enabled {
        color: #fff;
        font-weight: 800;
        font-size: 2.25em;
        margin-top: 0;
        margin-bottom: 0.8888889em;
        line-height: 1.1111111;
      }
    }

    h2 {
      @variant prose-enabled {
        color: #ddd;
        font-weight: 700;
        font-size: 1.5em;
        margin-top: 2em;
        margin-bottom: 1em;
        line-height: 1.3333333;
      }
    }

    h3 {
      @variant prose-enabled {
        color: inherit;
        font-weight: 600;
        font-size: 1.25em;
        margin-top: 1.6em;
        margin-bottom: 0.6em;
        line-height: 1.6;
        opacity: 0.7;
      }
    }

    h4 {
      @variant prose-enabled {
        color: inherit;
        font-weight: 600;
        margin-top: 1.5em;
        margin-bottom: 0.5em;
        line-height: 1.5;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @variant prose-enabled {
        scroll-margin: calc(var(--spacing) * 10);

        .header-anchor {
          float: left;
          margin-left: -1.2em;
          padding-right: 0.5em;
          /* font-size: .85rem; */
          opacity: 0;
          text-decoration: none;
          transition: opacity 0.2s ease;

          &:hover {
            text-decoration-color: currentColor;
          }
        }

        &:hover {
          .header-anchor {
            opacity: 0.5;
          }
        }
      }
    }

    p {
      @variant prose-enabled {
        margin-block: calc(var(--spacing) * 6);
      }
    }

    figure {
      @variant prose-enabled {
        margin-top: calc(var(--spacing) * 6);

        & > * {
          margin-block: 0;
        }
      }

      figcaption {
        @variant prose-enabled {
          color: var(--color-muted-foreground);
          font-size: var(--text-sm);
          line-height: var(--tw-leading, var(--text-sm--line-height));
          margin-top: calc(var(--spacing) * 2);
        }
      }
    }

    p > img,
    figure > img {
      @variant prose-enabled {
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-xl);

        &:not(:first-child) {
          margin-block: calc(var(--spacing) * 6);
        }
      }
    }

    hr {
      @variant prose-enabled {
        color: var(--color-border);
      }
    }

    ol,
    ul {
      @variant prose-enabled {
        margin-block: 1.25em;
        list-style-type: none;

        li {
          margin-top: 0.5em;
          margin-bottom: 0.5em;
        }
      }
    }

    ol > li,
    ul > li {
      @variant prose-enabled {
        position: relative;
        padding-left: 1.75em;
      }
    }

    > ul > li p {
      @variant prose-enabled {
        margin-block: 0.75em;
      }
    }

    > ol > li:first-child {
      @variant prose-enabled {
        margin-top: 1.25em;
      }
    }

    > ol > li:last-child {
      @variant prose-enabled {
        margin-bottom: 1.25em;
      }
    }

    ul ul,
    ul ol,
    ol ul,
    ol ol {
      @variant prose-enabled {
        margin-block: 0.75em;
      }
    }

    ol > li::before {
      @variant prose-enabled {
        content: counter(list-item, var(--list-counter-style, decimal)) ".";
        position: absolute;
        font-weight: 400;
        left: 0;
        color: var(--color-primary);
      }
    }

    ul > li::before {
      @variant prose-enabled {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 0.375em;
        height: 0.375em;
        top: calc(0.875em - 0.1875em);
        left: 0.25em;
        background-color: var(--color-primary);
      }
    }

    pre {
      @variant prose-enabled {
        overflow-x: auto;
        background-color: var(--color-muted);
        border-radius: var(--radius-md);
        padding-block: calc(var(--spacing) * 3);
        padding-inline: calc(var(--spacing) * 4);
        margin: calc(var(--spacing) * 2) 0;
      }
    }

    pre > code {
      @variant prose-enabled {
        display: block;
        border-radius: var(--radius-lg);
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
      }
    }

    :not(pre, td) > code {
      @variant prose-enabled {
        font-family: var(--font-mono);
        font-size: var(--text-sm);
        line-height: var(--tw-leading), var(--text-sm--line-height);
        background-color: --alpha(var(--color-border) / 70%);
        border-radius: var(--radius-md);
        padding-block: calc(var(--spacing) * 1);
        padding-inline: calc(var(--spacing) * 2);
      }
    }

    @variant dark {
      .shiki,
      .shiki span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
      }
    }

    blockquote {
      @variant prose-enabled {
        margin-block: calc(var(--spacing) * 6);
        margin-left: calc(var(--spacing) * -4);
        padding-left: calc(var(--spacing) * 6);
        border-left: 4px solid var(--color-border);
        color: var(--color-muted-foreground);
        quotes: "“" "”" "‘" "’";
      }
    }

    table {
      @variant prose-enabled {
        margin-block: calc(var(--spacing) * 6);
        overflow-y: auto;
        font-size: var(--text-sm);
        line-height: var(--text-sm--line-height);
      }
    }

    tr {
      @variant prose-enabled {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid var(--color-border);
        transition: background-color 200ms var(--ease-in-out);

        &:nth-child(even) {
          background-color: --alpha(var(--color-popover) / 45%);
        }

        &:hover {
          background-color: --alpha(var(--color-popover) / 80%);
        }
      }
    }

    td,
    th {
      @variant prose-enabled {
        vertical-align: middle;
      }
    }

    th {
      @variant prose-enabled {
        padding-inline: calc(var(--spacing) * 2);
        height: calc(var(--spacing) * 10);
        font-weight: 500;
        text-align: left;
      }
    }

    td {
      @variant prose-enabled {
        padding: calc(var(--spacing) * 2);
      }
    }

    & > :first-child {
      @variant prose-enabled {
        margin-top: 0;
      }
    }

    & > :last-child {
      @variant prose-enabled {
        margin-bottom: 0;
      }
    }
  }
}
