@theme {
  --color-death-knight: #c41e3a;
  --color-demon-hunter: #a330c9;
  --color-druid: #ff7c0a;
  --color-evoker: #33937f;
  --color-hunter: #aad372;
  --color-mage: #3fc7eb;
  --color-monk: #00ff96;
  --color-paladin: #f48cba;
  --color-priest: #ffffff;
  --color-rogue: #fff468;
  --color-shaman: #0070dd;
  --color-warlock: #8788ee;
  --color-warrior: #c69b6d;
}
